.loginBody {
  display: flex;
  flex-direction: row;
  background-color: var(--blue-light);
  width: 98.7vw;
  justify-content: space-evenly;
}

.form_login {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.loginLabel {
  color: var(--blue-light);
}
.inputLogin {
  border-radius: 5px;
  border-width: 0;
  height: 30px;
}
.buttonLogin {
  background-color: var(--blue-dark);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;
  transition: .3s;
}
.buttonLogin:hover {
  background-color: var(--blue-light);
  color: var(--blue-dark);
  border-width: 2px;
}