.form_register {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.regLabel {
  color: var(--blue-light);
}

.inputReg {
  border-radius: 5px;
  border-width: 0;
  height: 30px;
}

.buttonReg {
  background-color: var(--blue-dark);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  transition: filter 0.3s;
  outline: none !important;
  border: 0;
  height: 45px;
  color: var(--blue-light);
  font-size: 1.125rem;
  margin-top: 1.5rem;
}

.buttonReg:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
